<div class="container">
  <div class="row">
    <div id="sidebarnav" style="width: 250px;" data-spy="affix">
      <ul id="local-nav-list" class="nav nav-pills nav-stacked nav-list">
        <li><a href="#cloud">Real-time Hashtag Word Cloud</a></li>
        <li><a href="#sentiment">Reddit Sentiment Analysis Application</a></li>
        <li><a href="#text">Text Adventure Game</a></li>
        <li><a href="#work">Work Journal Web Application</a></li>
        <li><a href="#localization">Localization System for Telehealth Applications</a></li>
        <li><a href="#racing">Autonomous Racing Robot</a></li>
      </ul>
    </div>
    <div style="margin-left: 270px; margin-top: -20px; width: 50%;">
      <div>
        <h2><span id="cloud"> &nbsp; </span>Real-Time Hashtag Word Cloud</h2>
        <p>I built a visual web experiment during the summmer, after being inspired by <%= link_to("Twistori", "http://www.twistori.com", :target => "_blank")%>. I also used this project as an opportunity try out Node.js and MongoDB.</p>
        <%= image_tag("Tweet Word Cloud.png", size: "450x600", alt: "Hashtag Word Cloud", style: "padding-left: 100px;") %>
        <p>The web application itself is built using the Express framework, and it also runs a Twitter stream data importing/exporting process in parallel. Some technical issues I had to solve included:</p>
        <ul style="list-style: none;">
          <li>How do I get data from the back-end to the front-end in real-time?  Socket.IO</li>

          <li>How do I get streaming data from Twitter?       Twit library</li>

          <li>How can I turn a list of hashtags into a list of hashtag frequencies? MapReduce.</li>

          <li>How do I get database entries to automatically expire?      The time-to-live attribute.</li>
        </ul>
        <%= link_to("Code", "https://github.com/colinmleung/tweet-word-cloud", target: "_blank") %>
      </div>
      <div>
        <h2><span id="sentiment"> &nbsp; </span>Reddit Sentiment Analysis Application</h2>
          <p>A web application that allows users to enter a search term and analyze the first nine
                        reddit post results for their sentiment polarity</p>
          <figure>
            <%= image_tag("rsa_pic_processed.png", size: "800x500", alt: "Reddit Sentiment Analysis Application Screenshot") %>
          </figure>
          <br/>
          <%= link_to("Code", "https://github.com/colinmleung/reddit-sentiment-analysis", target: "_blank") %>
      </div>
      <div>
        <h2><span id="text"> &nbsp; </span>Text Adventure Game</h2>
          <p>A console text adventure game</p>
          <figure>
            <%= image_tag("dungeon_crawler.png", size: "750x300", alt: "Text Adventure Game Screenshot") %>
          </figure>
          <br/>
          <%= link_to("Code", "https:/
          /github.com/colinmleung/dungeon-crawler", target: "_blank") %>
      </div>
      <div>
        <h2><span id="work"> &nbsp; </span>Work Journal Web Application</h2>
          <p>A CRUD web application that allows users to create templates of journal prompts and
                        use them to write journal entries</p>
          <figure>
            <%= image_tag("workjournal.png", size: "425x350", alt: "Templates Page Screenshot") %>
          </figure>
          <br/>
          <%= link_to("Code", "https://github.com/colinmleung/work-journal", target: "_blank") %>
      </div>
      <div>
        <h2><span id="localization"> &nbsp; </span>Localization System for Telehealth Applications</h2>
          <p>A local positioning system which uses a combination of ultrasound and radio frequency waves to accurately locate moving objects</p>
          <figure>
            <%= image_tag("localization.png", size: "440x325", alt: "System overview of the localization device") %>
            <!--<figcaption>Interactions within our localization system to locate moving objects.</figcaption>-->
          </figure>
          <br/>
          <%= link_to("Draft of final report", "https://docs.google.com/document/d/1RKTXfA3HNPnZP0qF2K-x9H2uwWuRlz_UBX85jUnbOVM/edit", target: "_blank") %>
      </div>
      <div>
        <h2><span id="racing"> &nbsp; </span>Autonomous Racing Robot</h2>
          <p>A tape-following robot with control algorithms based on a primitive finite
                        state machine</p>
          <figure>
            <%= image_tag("robot.jpg", size: "304x228", alt: "The Party Van is ON FIRE!") %>
            <!--<figcaption>Profile view of our winning robot, The Party Van.</figcaption>-->
          </figure>
          <br/>
          <%= link_to("Video of the final race", "http://www.youtube.com/watch?v=ouQ41usUmjI", target: "_blank") %><br/>
          <%= link_to("Robot's Website", "http://phys253-partyvan-2010.net84.net/", target: "_blank") %>
      </div>
    </div>
  </div>
</div>