<div class="container">
  <div class="row">
    <div id="sidebarnav" style="width: 250px;" data-spy="affix">
      <ul id="local-nav-list" class="nav nav-pills nav-stacked nav-list">
        <li><a href="#web">Full-Stack Web Developer</a></li>
        <li><a href="#power">Power Measurement Engineer</a></li>
        <li><a href="#image">Image Analysis Algorithm Developer</a></li>
        <li><a href="#interface">Interface Developer</a></li>
      </ul>
    </div>
    <div style="margin-left: 270px; margin-top: -20px; width: 50%;">
      <div>
        <h2><span id="web"> &nbsp; </span>Full-Stack Web Developer</h2>
          <p>I worked at <%= link_to "Ingenium Technologies", "http://www.constructionpoints.com/", :target => "_blank" %> as a web developer from January to August 2013. I was responsible for developing new features for our construction lead management application. I programmed with HTML, CSS (LESS), and Javascript (jQuery) on the front-end, and developed the backend with C# using the ASP.NET MVC framework. I worked within a small development team that used Agile practices such as holding stand-up meetings and creating user stories.</p>

          <p>Some tasks I took on include:</p>

          <ul>
            <li>building mobile-friendly views</li>
            <li>adding Javascript widgets</li>
            <li>building out an administration panel for customer support</li>
            <li>refactoring the front-end to transform specialized code into a more componentized form</li>
            <li>creating automated tests in Selenium</li>
            <li>adding Google Analytics events to better understand application usage</li>
          </ul>
      </div>
      <div>
        <h2><span id="power"> &nbsp; </span>Power Measurement Engineer</h2>
          <p>At <%= link_to "Broadcom", "http://www.broadcom.com/", :target => "_blank" %>, I worked as a developer supporting the Power Management Team for 8 months from May to December 2012. I was responsible for measuring the power consumption of system-on-chip devices as the firmware evolved, and as new chipsets came out.</p>

          <p>In order to create reproducible results, I wrote low-level driver scripts to replicate user behaviour (such as playing Angry Birds). It was also necessary to create physical test harnesses to accurately measure power consumption during use-cases such as video recording.</p>

          <p>Being the most familiar with the measurement setups, I debugged power regressions as new software came out. Debugging some of these issues would prove incredibly complex, requiring measurements taken in multiple hardware configurations to find the root cause of the issue. In situations like these, documentation on the wiki, on JIRA, and engineering logbooks proved vital to solving issues.</p>
      </div>
      <div>
        <h2><span id="image"> &nbsp; </span>Image Analysis Algorithm Developer</h2>
          <p>In 2011, I worked as a software developer at <%= link_to "Taiheiyo Cement", "http://www.taiheiyo-cement.co.jp/english/", :target => "_blank" %> from May to December as part of the Canada Japan Co-op Program. My role was to provide programming expertise for the Cement Chemistry team, helping them to quantify their cement samples using image analysis algorithms.<p>

          <p>In the first few months, I assessed my coworkers needs, and built prototype scripts in Scilab. The team decided they would like to examine multiple types of cement in various ways, and I decided that building an image analysis toolkit would be best. I then architected an application using Windows Presentation Foundation for the interface, and OpenCV as the processing backend.</p>

          <p>After reading cement analysis research papers, it became obvious I would have to invent the analysis algorithms myself. At that point, programming the entire analysis framework myself would take too long, and I decided that coming up with algorithms using off-the-shelf analysis solutions would deliver the best results for the team.</p>

          <p>After more research, which included preparing my own cement samples and taking pictures with electron microscopes, I was able to use a sequence of ImageJ operations to come up with two successful algorithms.</p>

          <a href="DEC13_Quantifying Cement Systems using Image Analysis.pptx" target="_blank">Quantifying Cement Samples using Image Analysis</a> (with permission of Taiheiyo Cement Corporation)
      </div>
      <div>
        <h2><span id="interface"> &nbsp; </span>Interface Developer</h2>
          <p>I worked my first co-op job at <%= link_to "A.U.G. Signals", "http://www.augsignals.com", :target => "_blank" %> from January to April 2010. My role was to work closely with image analysis researchers and create interfaces to expose the power of their algorithms to clients. These interfaces would be completed on a per-project basis, using whatever technology suited the project at hand. I created interfaces in MATLAB and C using the MFC framework. In addition to this role, I wrote bash scripts and  set up development environments and libraries such as <%= link_to "Gazebo", "http://gazebosim.org", :target => "_blank" %>.</p>
          <p>I investigated how to improve interfaces using techniques such as implementing loading bars and changing the interface size to accomodate different file type resolutions. Due to the large number of client change requests and rapid algorithmic development, I also learnt about the importance of refactoring applications to be maintainable.</p>
      </div>
    </div>
  </div>
</div>