<!DOCTYPE html>
<html lang="en">
<head>
  <title>colin m leung</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="index, follow, noarchive"/>
  <meta name="googlebot" content="noarchive"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body data-spy="scroll" data-target="#sidebarnav" data-offset="100">
  <div class="wrapper">
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <%= link_to 'colin m leung', root_path, class: "navbar-brand", style: "color: white;" %>
        </div>
        <nav class="pull-right">
          <ul class="nav navbar-nav">
            <li <%= if current_page?(:controller => 'pages', :action => 'about')
                      "class=active"
                    end %>><%= link_to 'About', about_path %></li>
            <li <%= if current_page?(:controller => 'pages', :action => 'work')
                      "class=active"
                    end %>><%= link_to 'Work', work_path %></li>
            <li <%= if current_page?(:controller => 'pages', :action => 'projects')
                      "class=active"
                    end %>><%= link_to 'Projects', projects_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <div class="push"></div>
  </div>
  <div class="footer">
    <div class="container">
      <%= link_to image_tag("social-011_linkedin.png", alt: "linkedin", style: "float: right; padding-top: 5px; padding-left: 25px;"), "http://www.linkedin.com/pub/colin-leung/46/310/b83", :target => "_blank" %>
      <%= link_to image_tag("github-9-xxl.png", alt: "github", size: "60x60", style: "float: right; padding-left: 25px;"), "https://github.com/colinmleung", :target => "_blank" %>
      <%= link_to image_tag("1379827905_aiga_mail_inver.png", size: "25x25", alt: "email", style: "float: right; padding-top: 5px;"), "mailto:colinmleung@gmail.com", :target => "_blank" %>
      <span style="font-size: 10px; float: right; padding-right: 50px; padding-top: 17px;">Copyright © 2013 Colin Leung. All Rights Reserved.</span>
    </div>
  </div>
</body>

</html>