<!DOCTYPE html>
<html lang="en">
<head>
  <title>colin m leung</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="index, follow, noarchive"/>
  <meta name="googlebot" content="noarchive"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body data-spy="scroll" data-target="#sidebarnav" data-offset="100">
  <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <%= link_to 'colin m leung', root_path, class: "navbar-brand" %>
      </div>
      <nav class="pull-right">
        <ul class="nav navbar-nav">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Work', work_path %></li>
          <li><%= link_to 'Projects', projects_path %></li>
        </ul>
      </div>
    </div>
  </header>

  <%= yield %>
</body>
</html>